@import 'links'; 
@import 'general';

$blue: #1997E5;
$red:  rgb(245, 106, 88);
$typed-color: #77cbff;
 
div.full { 
    height: 100vh; 
}

.nav_holder{
    height: 65px; 
    width: 100%;
    padding-top: 40px;

    a.logo{
        color: #fff;
        text-decoration: none;
        display: block;
        width: 138px;
        height: 65px;
        float: left;
        margin-top: -13px;

        span{
            font-weight: 300;
            font-size: 24px;
            line-height: 65px;  
            display: block;     
            float: left;
        }
        &:hover{
            color: #74C9FF;
            text-decoration: none;
        } 
    } 

    img{
        float: left;
        width: 138px;
        height: 65px;
        margin-right: 10px;
    } 

    nav{ 
        display: none;
        
    }
}

.nav_holder.inver{
    img{
        background: #1997E5;
        width: 40px; height: 40px;
    }
    a.logo{
        color: #000;
        margin-top: 0px;
        span{
            line-height: 40px;
        }
        &:hover{
            color: $blue;
        } 
    }
    nav ul li a{
        color: #000;
        &:hover{
            color: $blue; 
        } 
    }
}


  
.screen-content1, .screen-content2{
    width: 218px; height: 388px; 
}
.screen-content1{
    background: url("../images/screens@2x.jpg") left top no-repeat;
    background-size: 218px 1164px;
}
.screen-content2{
    background: url("../images/screens@2x.jpg") left -389px no-repeat;
    background-size: 218px 1164px;
} 

.section_store{
    height: 80px;
    padding: 50px 0px 100px 0px; 
    width: 100%; 
}


.poz{
    display: none;
}



nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: none;
}
  
.footer-container footer {
    color: white;
    padding: 20px 0;
}
  
.app_store{ 
    width: 300px;
    height: 47px;
    margin: 0px auto;
}
 

a.app_wit_apple, a.app_wit_google, a.app_black_apple, a.app_black_google{
    float: left;
    margin-right: 10px;
    &:hover{
        opacity: 0.5;
    }
}

a.app_black_google{
    margin-right: 0px;
}

 
.store_screen1,.store_screen2{
    position: absolute;
    right: 20px;
    width: 300px;
    height: 47px;
}

.store_screen1{
    top: -100px;
}

.store_screen2{
    bottom: 0px;
}
 
.focus{
  stroke-width: 4px;
  stroke-dashoffset: 0;
  stroke-dasharray: 2760;  
}  
 
@media screen and (min-width: 300px) { 
    .poz{
        display: none;
    } 
    .nav_holder{
        height: 65px; 
        width: 100%;
        padding-top: 40px;

        a.logo{
            color: #fff;
            text-decoration: none;
            display: block;
            width: 138px;
            height: 65px;
            float: left;
            margin-top: -13px;

            span{
                font-weight: 300;
                font-size: 24px;
                line-height: 65px;  
                display: block;     
                float: left;
            }
            &:hover{
                color: #74C9FF;
                text-decoration: none;
            } 
        } 

        img{
            float: left;
            width: 138px;
            height: 65px;
            margin-right: 10px;
        } 

        nav{ 
            display: none; 
        }
    } 

    .header-container {  
        opacity:0;
        border-bottom: none;
        background: $blue;  
        min-height: 600px;
        background: url("../images/bg_0.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
 
        .intro{
            padding-top: 15vh; 
            margin:0 auto; 
            p,h1{
                color: #fff;
                text-align: center; 
            }

            h1{
                font-size: 25px;
                line-height: 1.2;
                margin:0px; 
            } 

            p{
                font-size: 18px;
                line-height: 1.5; 
                display: block;
                margin: 20px auto;
                font-weight: 100;
                
                strong{
                    font-weight: 700;
                }
            }
        }
 
        .type-wrap{
            height: 59px;
            .for300{
                display: inline;
            }
        }

        #typed , .type-wrap{
            color: #fff;
            font-size: 25px;
            line-height: 1.2;
            text-align: center;
        }

        #typed{ 
            color: $typed-color;
        }

    } 
    .section_phone{
        .app_store{
            //bottom: 20px; 
        }

        .phone{     
            transform: none; 
            background: none; 
            position: relative;
            background: url("../images/phone_frame@2x.png") center top no-repeat;
            background-size: 385px 660px;
            padding-top: 134px;
            padding-bottom: 120px;
        
            .screen-content1{  
                margin: 0px auto;
            } 
        }
        

        .bg2_div{
            display: none;
        }
    }

    .section_screen1,.section_screen2,.section_screen3{
        background: none;
    }
      
    .phone_screen{      
        
        .des{ 
            padding: 0px 10px 40px 20px;
            margin: 0px;
            z-index: 200;
            position: relative;
            background: none;

            .mob_hiden{
                display:none;
            }

            h2{
                font-size: 22px;
                line-height: 1.2;
                margin-bottom: 10px;

            }
            p{
                font-size: 16px; 
                margin-bottom: 10px;
                line-height: 1.5;  
            }
        } 
    }

    .bubble{
        display: none;
    }
  

    .col-50{
        width: 100%;
        height: 500px;  
    } 

    .users{
        //height: 100vh;
        width: 100%; 
        margin-top: 10px;  
        
        .student-img{
            background: url("../images/student_img.jpg") center center no-repeat; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 
        }

        .business-img{
            background: url("../images/business_img.jpg") top center no-repeat; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 
        }

        .student{
            background: $blue; 
            float: left;
            //height: 500px;
        }
        .business{
            background: $red; 
            float: left;
            //height: 500px;
        } 
        .text {
            width: 70%;  
            height: 70%;
            margin: 20% auto 0;
            //border: #fff 1px solid;
            h3{
                font-size: 26px;
                line-height: 1.5;
                margin-bottom: 30px;

            }
            p{
                font-size: 20px;
                line-height: 1.5;
            } 
            color: #fff;  
        } 
    }

    .black_app_store{
        width: 290px; 
        height: 80px;
    }
     
    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}
  
@media screen and (min-width: 480px) {

    .black_app_store{
        width: 370px; 
        height: 80px;
    }
   
  
    .header-container {  
        opacity:0;
        border-bottom: none;
        background: $blue;  
        min-height: 600px;
        background: url("../images/bg_0.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
 
        .intro{
            padding-top: 15vh; 
            margin:0 auto; 
            p,h1{
                color: #fff;
                text-align: center; 
            }

            h1{
                font-size: 35px;
                line-height: 1.2;
                margin:0px; 
            }
 

            p{
                font-size: 21px;
                line-height: 1.5; 
                display: block;
                margin: 20px auto;
                font-weight: 100;
                strong{
                    font-weight: 700;
                }
            }
        }


        .type-wrap{
            height: 102px;
            .for300{
                display: none;
            }
        }

        #typed , .type-wrap{
            color: #fff;
            font-size: 35px;
            line-height: 1.2;
            text-align: center;

        }

        #typed{
            display: inline;
            color: $typed-color;
            // &:before{
            //     content: '\A';
            //     white-space: pre;
            // }
        }

    }
     
    nav{ 
        display: block;
    }
 

    .phone_screen{      
        .des{ 
            padding: 0px 30px 50px 40px;
        }
    }
 

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}
  
@media screen and (min-width: 768px) {
    .section_screen1{
        background: url("../images/bg_1.jpg") right top no-repeat; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
    } 
    .section_screen2{
        //background: url("../images/bg_2.jpg") -120px top no-repeat;  
    } 
    .section_screen3{
        // background: url("../images/bg_1.jpg") right top no-repeat; 
        // -webkit-background-size: cover;
        // -moz-background-size: cover;
        // -o-background-size: cover;
        // background-size: cover; 
        background: #f7f7f7;
    } 

    nav {
        float: right; 
    }

    .nav_holder{  
        nav{ 
            float: right;  
            ul{ 
                li{
                    float: right; 
                }

                li a{
                        float: right; 
                        padding: 10px;
                        font-size: 16px;
                        font-weight: 300;
                        width: 120px;

                        &:hover{
                            color: #74C9FF;
                            text-decoration: none;
                        } 
                } 
            }
        }
    }
    
    .section_store{ 
        background: #f7f7f7;
    }
 
    .header-container {  
        opacity:0;
        border-bottom: none;
        background: $blue;  
        min-height: 600px;
        background: url("../images/bg_0.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .header-container-wraper{
             
        }
      
        .intro{
            padding-top: 15vh;
            max-width: 720px; 
            margin:0 auto; 

            p,h1{
                color: #fff;
                text-align: center; 
            }

            h1{
                font-size: 38px;
                line-height: 1.2;
                margin:0px; 
            } 

            p{
                font-size: 21px;
                line-height: 1.5; 
                display: block;
                margin: 40px auto 36px; 
                font-weight: 100;
                strong{
                    font-weight: 700;
                }
            }
        }


        .type-wrap{
            height: 98px;
        }

        #typed , .type-wrap{
            color: #fff;
            font-size: 38px;
            line-height: 1.3;
            text-align: center;
        }

        #typed{
            color: $typed-color;
        }
    }

    .section_phone{ 
        position: relative; 

        .app_store{
            position: fixed;
            z-index: 999;
            right: 40px;
            bottom: 40px; 
            display: none;
            opacity: 0;   
        }

        .bg2_div{
            position: absolute; top: 50%;
            background: #fff url("../images/bg_2.jpg") -290px -10px no-repeat;
            z-index: 100;
            width: 100%; height:100vh; 
            display:block;
        }

        .wrapper{
            position: relative;
        }

        .phone{ 
            width: 385px; height: 660px;
            background: url("../images/phone_frame@2x.png") left top no-repeat;
            background-size: 385px 660px;
            padding-top: 0px;
            padding-bottom: 0px;

            z-index: 999;
            position: absolute; top: 20%; transform: translateY(-66.67%); left: 0px;

            //position: absolute; top: 75%; transform: translateY(-50%); left: 0px;

            .screen-content1, .screen-content2{ 
                margin-left: 86px;
                margin-top: 134px;
            }
            
 
        } 

        .phone_screen2{
            // background: rgb(255, 114, 94);
            // p, h2{
            //     color: #fff;
            // }
        }

        .inver{
            position: absolute; top: 0px; left: 0px; 
        }


        .phone_screen{
            height: 100vh;  
            position: relative;

            
            
            .des{  
                position: absolute; z-index: 800; top: 50%; transform: translateY(-50%); left: 360px;
                .mob_hiden{
                    display: inline; 
                }
                h2{
                    font-size: 40px; line-height: 1.2; margin: 0px; 
                }
                p{
                    font-size: 21px;
                    float: left;
                    margin-bottom: 10px;
                    line-height: 1.5;
                    max-width: 440px; 
                }
            }

            .poz{
                background: url("../images/poz_icon.svg") bottom center no-repeat; 
                width: 20px; height: 38px; position: absolute;   
                opacity: 1;
            }


            .airplane{
                background: url("../images/airplanes_01.png") center center no-repeat; 
                background-size: 106px 59px;
                width: 106px; height: 59px; position: fixed;    
                right: -20px; top: 200px;
                opacity:0;
                display: none;
            }

            .bubble{
                width: 100px; height: 65px; position: absolute;    
                right: 50px; bottom: 100px;
                opacity:0; display: none;
                
            }
        }
    }
  
    .users{ 

        width: 100%; 
        margin-top: 0px;
        position: relative;
        z-index: 100;

        .student, .business{
            position: absolute;
            z-index: 100; 
            
        }

        .student-img, .business-img{
            //height: 100vh; 
            position: relative;
            z-index: 200;
        }
        .student-img,.business-img{
            cursor: pointer; 
        }
        .student-img{
            background: url("../images/student_img.jpg") center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 
        }
        .business-img{
            background: url("../images/business_img.jpg") center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 
        }

        .student{
            background: $blue;
            left: 0px; top: 0px;
        }
        .business{
            background: $red;
            right: 0px; top: 0px;
        } 
        .text {
            width: 70%;  
            height: 70%;
            margin: 30% auto 0;
            //border: #fff 1px solid;
            h3{
                font-size: 26px;
                line-height: 1.5;
                margin-bottom: 20px;
            }
            p{
                font-size: 20px;
                line-height: 1.5;
            } 
            color: #fff;  
        } 
    }
 
    .col-50{
        width: 50%;
        height: 650px; 
    }   
}

@media only screen and (min-width: 1140px) {
 
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    .section_screen2{
        //background: url("../images/bg_2.jpg") left top no-repeat;  
    } 
 
    .header-container {  
        min-height: 700px;  
        .intro{
            padding-top: 15vh;
            max-width: 720px; 
            margin:0 auto; 
            p,h1{
                color: #fff;
                text-align: center; 
            }

            h1{
                font-size: 42px;
                line-height: 1.3;
                margin:0px; 
            }

            

            p{
                font-size: 28px;
                line-height: 1.3; 
                display: block;
                margin: 60px auto 40px;
                font-weight: 100;
                strong{
                    font-weight: 700;
                }
            }
        }


        .type-wrap{
            height: 108px;
        }

        #typed , .type-wrap{
            color: #fff;
            font-size: 42px;
            line-height: 1.3;
            text-align: center;
        }
        #typed{ 
            color: $typed-color;
        }
 

    }
 
    .section_phone{ 
        position: relative;

        .bg2_div{
            position: absolute; top: 50%;
            background: #fff url("../images/bg_2.jpg") -290px -10px no-repeat;
            z-index: 100;
            width: 100%; height:100vh; 
        }

        .wrapper{
            position: relative;
        }

        .phone{ 
            width: 385px; height: 660px;
            background: url("../images/phone_frame@2x.png") left top no-repeat;
            background-size: 385px 660px;
             
            z-index: 999;
            position: absolute; top: 25%; transform: translateY(-50%); left: 0px;

            //position: absolute; top: 75%; transform: translateY(-50%); left: 0px;

            .screen-content1, .screen-content2{ 
                margin-left: 86px;
                margin-top: 134px;
            }
 
        }
 

        .inver{
            position: absolute; top: 0px; left: 0px;
        }

        .phone_screen{
            height: 100vh;  
            position: relative;
            
            .des{ 
                // vertically centering
                position: absolute; z-index: 800; top: 50%; transform: translateY(-50%); left: 400px;

                h2{
                    font-size: 40px; line-height: 1.2; margin: 0px; 
                }
                p{
                    font-size: 21px;
                    float: left;
                    margin-bottom: 10px;
                    line-height: 1.5;
                    max-width: 400px; 
                }
            }

            .poz{
                background: url("../images/poz_icon.svg") bottom center no-repeat;
                //display: none;
                width: 20px; height: 38px;
                position: absolute;  
                opacity: 1;
            }

        }

    }
           
    .users{
          
        .text {
            width: 50%;  
            height: 50%;
            margin: 30% auto 0;  
        } 
    }
}

@media only screen and (min-width: 1440px) {
    .wrapper {
        width: 1296px; /* 1440px - 10% for margins */
        margin: 0 auto;
    }
  
}





